.button {
    border: solid 1px silver;
    height: 150px;
    width: 150px;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.numbers {
    background-color: rgb(35, 169, 221);
}

.symbols {
    background-color: rgb(3, 103, 142);
}

.row {
    display: flex;
}
  
#calculation-window {
    background-color: lightslategray;
    height: 150px;
    width: 607px;
    display: flex;
}

#calculator{
    border:solid red;
}

#clear {
    height: 150px;
    width: 606px;
}